<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <table border="1">
        <tr>
            <td>id</td>
            <td>nom</td>
            <td>pattes</td>
            <td>poids</td>
            <td>taille</td>
            <td>rapidete</td>
            <td>familles</td>
        </tr>

       {% for values in animals  %}

       <tr>
        <td>{{values.id}}</td>
        <td>{{values.name}}</td>
        <td>{{values.legs}}</td>
        <td>{{values.weight}}</td>
        <td>{{values.height}}</td>
        <td>{{values.speed}}</td>
        <td>{{values.family}}</td>
       </tr>
         
       {% endfor %}
    </table>   
    <div>
        <a href="{% url 'familles' %}">voir famille</a>
    </div> 
</body>
</html>