<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Familles</title>
</head>
<body>

    <a href="{% url 'animals' %}">retour</a>
    <table border="1">
        <tr>
            <td>id</td>
            <td>nom</td>
        </tr>

        {% for values in familles  %}
          <tr>
            <td>{{values.id}}</td>
            <td>{{values.name}}</td>
          </tr>
        {% endfor %}
    </table>
</body>
</html>